{% extends 'base.html' %}
{% block container %}
{% if request.user.is_superuser %}
<div class="container-fluid">
  <button class="btn btn-danger m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    Add Question Form
  </button>
  <br>
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Experiment No.</th>
        <th scope="col">Question</th>
        <th scope="col">Image/Video</th>
        <th scope="col">Answer</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for i in questions %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.experiment}}</td>
          <td>{{i.text}}</td>
          <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#image-modal-{{i.id}}">Image/video</button>
          </td>
          <td>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#answer-modal-{{i.id}}">Answer</button>
          </td>
          <td>
            <button class="btn btn-danger m-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#editQuestion-{{i.id}}" aria-controls="editQuestion-{{i.id}}">
              Edit
            </button>
          </td>
          <td><button onclick="location.href='/product/delete-question/{{i.id}}'" class="btn btn-danger">Delete</button></td>
        
        </tr>

        <!-- image modal -->
        <div class="modal fade" id="image-modal-{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel-{{i.id}}" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel-{{i.id}}">Experiment No. {{i.experiment}}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>

                  <div class="modal-body">
                    <div class="container-fluid">
                      {% if i.question_display_type == 'image' and i.quest_image %}
                        <img src="{{i.quest_image.url}}" alt="{{i.text}}" width="350" height="200">
                      {% elif i.question_display_type == 'video' and i.quest_image %}
                        <video width="320" height="240" controls>
                          <source src="{{i.quest_image.url}}" type="video/mp4">
                        </video>
                      {% else %}
                      {% endif %}
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <!-- answer model -->
        <div class="modal fade" id="answer-modal-{{i.id}}" tabindex="-1" aria-labelledby="answerModalLabel-{{i.id}}" aria-hidden="true">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h1 class="modal-title fs-5" id="answerModalLabel-{{i.id}}">Experiment No. {{i.experiment}}</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      {{i.answer}}
                    </div>
                  </div>
              </div>
          </div>
        </div>

        <!-- edit modal -->
        <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="editQuestion-{{i.id}}" aria-labelledby="editQuestion-{{i.id}}-Label">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="editQuestion-{{i.id}}-Label">Edit Questions</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div>
              <form method="post" action="/product/edit/{{i.id}}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Experiment No.</span>
                  <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="experiment" value="{{i.experiment}}">
                </div>
                <div class="input-group">
                  <span class="input-group-text">Question</span>
                  <textarea class="form-control" aria-label="With textarea" name="text">{{i.text}}</textarea>
                </div>
                <br>
                <div class="input-group">
                  <span class="input-group-text">Answer</span>
                  <textarea class="form-control" aria-label="With textarea" name="answer">{{i.answer}}</textarea>
                </div>
                <br>
                <div class="input-group mb-3">
                  <select class="form-control" name="question_display_type">
                    {% if i.question_display_type == 'video' %}
                    <option value="video" selected>Video</option>
                    <option value="image">Image</option>
                    {% else %}
                    <option value="video">Video</option>
                    <option value="image" selected>Image</option>
                    {% endif %}
                  </select>
                </div><br>
                {% if i.question_display_type == 'image' and i.quest_image %}
                  <img src="{{i.quest_image.url}}" alt="{{i.text}}" width="350" height="200">
                {% elif i.question_display_type == 'video' and i.quest_image %}
                  <video width="320" height="240" controls>
                    <source src="{{i.quest_image.url}}" type="video/mp4">
                  </video>
                {% else %}
                {% endif %}
                <br><br>
                <div class="input-group mb-3">
                  <input class="form-control" type="file" id="formFile" name="quest_image">
                </div>
                <br>
                <input type="submit" class="btn btn-warning" value="Add Question">
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </tbody>
  </table>

  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">Add Questions</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <form method="post" action="/product/home" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Experiment No.</span>
            <input type="number" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="experiment">
          </div>
          <div class="input-group">
            <span class="input-group-text">Question</span>
            <textarea class="form-control" aria-label="With textarea" name="text"></textarea>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-text">Answer</span>
            <textarea class="form-control" aria-label="With textarea" name="answer"></textarea>
          </div>
          <br>
          <div class="input-group mb-3">
            <select class="form-control" name="question_display_type">
              <option value="video">Video</option>
              <option value="image">Image</option>
            </select>
          </div><br>
          <div class="input-group mb-3">
            <input class="form-control" type="file" id="formFile" name="quest_image">
          </div>
          <br>
          <input type="submit" class="btn btn-warning" value="Add Question">
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock container %}